.navigation {
    display: flex;
    flex-direction: row;
}

.navigation-item {
    color: white;
    justify-content: center;
    padding: 50px;
    text-decoration: none;
}

.navigation-item:hover {
    font-weight: bold;
}

.active {
    font-weight: bold;
    text-decoration: underline;
}