.resume {
    margin-left: 40px;
    padding: 20px;
    font-size: 150%;
}

.resume-prof {
    display: block;
    flex-direction: row;
}

h2 {
    padding: 40px 10px 10px 0px;
}

h3 {
    padding: 10px;
}